html {
    overscroll-behavior: none;
    background-color: #7525e2;

  }

.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg, #004317, #000075);
	background-size: 180% 100%;
	animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.test {
    font: 2em "Impact", fantasy;
}

.headerHover {
    transition: 0.5s;
}

.headerHover:hover {
    width: 60px;
    background-color: gray;
    cursor: pointer;
    transition: 0.5s;
}

.list {
    border-radius: 3;
}

.insta {
    border-radius: 10px;
}

.git {
    border-radius: 20px;
}


.cursor {
    border-right: 2px solid rgba(255,255,255,.75);
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter-animation {
  animation: 
    typewriter 6s steps(60) 2.5s infinite alternate both,
    blinkingCursor 700ms steps(500) infinite normal;
}

.stopAndPlayButton {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

@keyframes typewriter {
    0% { width: 0; }
    5% { width: 0; }
    95% { width: 100%; }
    100% { width: 100%; }
}

@keyframes blinkingCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
