.gradient {
	width: 100vw;
	height: 100dvh;
	background: linear-gradient(334deg, #004317, #000075);
	background-size: 180% 100%;
	animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cursor {
    border-right: 2px solid rgba(255,255,255,.75);
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
}

.typewriter-animation {
  animation: 
    typewriter 8s steps(60) 3s infinite alternate both,
    blinkingCursor 700ms steps(500) infinite normal;
}

.stopAndPlayButton {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

@keyframes typewriter {
    0% { width: 0; }
    5% { width: 0; }
    95% { width: 100%; }
    100% { width: 100%; }
}

@keyframes blinkingCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
